## Data Structures

### 1. Lists: []  
#### 1.1. list的各种methods

In [9]:
fruits = ['orange', 1, 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

1

In [10]:
fruits.count('tangerine')

0

In [11]:
fruits.index('banana')

3

In [12]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [37]:
fruits.reverse()
fruits

[]

In [14]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 1, 'orange', 'grape']

In [15]:
fruits.sort()
fruits

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
fruits.pop()

'grape'

In [22]:
fruits.clear()

#### 1.2. Using Lists as Stacks & Queues
1. Stacks：使用`append()`入栈，使用`pop()`出栈
2. Queues：单纯的使用list作为队列效率很低，主要是第一个元素的移除很慢。为了解决这个问题，引入`collection.deque`。

In [17]:
# stack example
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

stack.pop()

stack

[3, 4, 5, 6]

In [18]:
# queue example
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

#### 1.3. List Comprehensions

> List comprehensions provide a concise way to create lists

使用它的一般情况是生成一个对于其它list中得到每一个元素都进行某种操作/筛选后得到的新list。  
例如对于一个list中的所有项都进行平方操作得到的新list；或者取其中大于10的项生成新list。  
它的一般形式是在放括号中间，首先是新list项的表达式，之后有一个`for`语句，`for`语句内部可以嵌套新的`for`语句或者`if`语句。  
示例如下：

In [19]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [20]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

从上面的例子可以看出，`for`语句的作用就是从基础list中取值，在这里可以进行筛选的操作；头部的表达式是对筛选出的项做其它操作；  
头部的表达式可以同样是一个list，在这个list中又可以使用List Comprehensions，如：

In [21]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix] for i in range(4)]     # 实现列和行互换

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### 2. `del`语句

`del`语句可以用来移除list中的值，也可以清空list，如：

In [24]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [25]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [26]:
del a[:]
a

[]

也可以直接删除整个变量，但是之后在重新赋值之前不能够再引用该变量

In [29]:
del a
a

NameError: name 'a' is not defined

### 3. Tuples: ()
元组（tuple），list，string都属于*sequence data types*。  
元组是由一系列由逗号分隔的值构成的，在声明时与list的区别是元组使用`()`表示  
但在声明时没有强制要求使用`()`。  
元组与list看起来很像，区别在于：  
- 元组不可改变，list可以改变  
- 元组通常用于包含各种类型数据的情况，list通常用于包含一种类型的数据

In [31]:
t = 12345, 54321, 'hello!'
t[0]

12345

要声明一个空元组，只需要空的`()`即可。  
要声明只有一项的元组，可以在该值后紧跟`,`，例如：

In [32]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
print(empty)
print(singleton)

()
('hello',)

对于所有的序列数据，可以使用*sequence unpacking*实现对多个变量的赋值。  
但一定要注意左边变量的个数要与*unpack*的序列长度相同，如：

In [36]:
a, b, c = t
x, y, z = [4, 5, 10]
print(a, b, c)
print(x, y, z)

12345 54321 hello!
4 5 10

### 4. `Sets`: {}
集合是一个使用`{}`表示，内部**不含重复元素**的数据类型。  
可以使用`{}`或者`set()`声明集合，但是如果希望创建空的集合，必须使用`set()`。因为`{}`会创建空字典。  
使用集合的一些例子如下：

In [38]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'apple', 'banana', 'orange', 'pear'}

In [39]:
'orange' in basket                 # fast membership testing

'crabgrass' in basket

False

In [40]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [41]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [42]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [43]:
a & b                              # letters in both a and b

{'a', 'c'}

In [44]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

### 5. `Dictionaries`: {}
字典是一个键值对的集合，其中的`key`可以是`string`，`number`或者不包含可改变对象的`tuplle`。  
同理`llist`不可以作为`key`，因为它可以通过`append()`等方法改变。  

使用`del`语句可以删除字典中的项  

使用`list()`可以输出所有字典的`key`  
使用`sorted()`可以输出排序后的所有字典的`key`  
使用`in`关键字判断某个`key`是否在字典中

*集合与字典都使用`{` `}`来声明，但只有空 `{}` 会创建字典，不是集合*

In [45]:
dic = { 1: 4098, 'sape': 4139}
dic['guido'] = 4127
print(dic)
print(dic[1])
print(list(dic))
print( 1 in dic)

{1: 4098, 'sape': 4139, 'guido': 4127}
4098
[1, 'sape', 'guido']
True

类似的，可以使用`dict()`来创建键值对，例如：

In [48]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [49]:
# When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### 6. 更多的迭代技术
#### 6.1. 对于多种数据类型的for迭代
- 迭代字典时，通过`items()`可以同时取出`key`和`value`，否则只能只能迭代`value`  
- 迭代序列数据时，通过`enumerate()`可以取出索引和对应的值，否则只能只能迭代值  
- 同时迭代多个序列数据，使用`zip()`
- 使用`reversed()`迭代反转序列数据，使用`sorted()`迭代排序后的数据

In [53]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for v in knights:
    print(v)
    
for k, v in knights.items():
    print(k, v)

gallahad
robin
gallahad the pure
robin the brave

In [54]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [55]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

#### 6.2. 关于条件判断
- `in`和`not in`检查某项值是否在序列数据中出现
- `is`和`is not`比较两个对象是否是同样的对象
- 对比可以是链式的，
    > For example, a < b == c tests whether a is less than b and moreover b equals c.
- `and`和`or`能够用来连接不同的条件判断，可以使用`not`来取反判断结果

注意,可以**使用`and`和`or`给变量赋值**

In [56]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

序列数据的比较：
> 1. First the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted. 
> 2. If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively.
> 3. If all items of two sequences compare equal, the sequences are considered equal. 
> 4. If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one.

In [ ]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)